MONGO_URI=mongodb+srv://<user>:<pass>@<cluster>/NEWSFLASH?retryWrites=true&w=majority
MONGO_DB_NAME=NEWSFLASH
FEED_URLS=http://feeds.bbci.co.uk/news/rss.xml,https://feeds.npr.org/1001/rss.xml,https://www.theguardian.com/world/rss
